In [2]:
import requests
#import folium
import pandas as pd

df = pd.read_csv(r'E:\Fall2023_Address_Only.csv')

BASE_URL = "https://nominatim.openstreetmap.org/search?format=json"

df = df[['Situs']]

df['city'] = ''
df['zip'] = ''
df['lat'] = 'na'
df['lon'] = 'na'

print(df.head())

                                    Situs city zip lat lon
0      3817 DUDLEY ST, LINCOLN, NE  68503           na  na
1  802 N LAKESHORE DR, LINCOLN, NE  68528           na  na
2       490 PANAMA RD, MARTELL, NE  68404           na  na
3    1208 STARVIEW LN, LINCOLN, NE  68512           na  na
4     9400 LARGE'S CT, LINCOLN, NE  68512           na  na

In [42]:
for index, row in df.iterrows():
    if str(row['Situs']) != 'nan':
        data = row['Situs'].split(',')
        size = len(data)

        if(size > 3):
            df.at[index,'city'] = data[size - 2]
            df.at[index, 'addr'] = data[0]
            df.at[index, 'zip'] = data[size-1][-(6):]
        else:
            df.at[index, 'city'] = data[size - 2]
            df.at[index, 'addr'] = data[0]
            df.at[index, 'zip'] = data[size-1][-(6):]
        response = requests.get(f"{BASE_URL}&street={df.at[index, 'addr']}&city={df.at[index, 'city']}&state=Nebraska")
        data = response.json()
        if data != [] and type(data) is list:
            df.at[index, 'lat'] = data[0].get("lat")
            df.at[index, 'lon'] = data[0].get("lon")
print(df.head())

                                    Situs      city     zip  \
0      3817 DUDLEY ST, LINCOLN, NE  68503   LINCOLN   68503
1  802 N LAKESHORE DR, LINCOLN, NE  68528   LINCOLN   68528
2       490 PANAMA RD, MARTELL, NE  68404   MARTELL   68404
3    1208 STARVIEW LN, LINCOLN, NE  68512   LINCOLN   68512
4     9400 LARGE'S CT, LINCOLN, NE  68512   LINCOLN   68512

                  lat                 lon                addr
0  40.825578444444446  -96.66587981481482      3817 DUDLEY ST
1   40.82969630114534  -96.74044722145769  802 N LAKESHORE DR
2                  na                  na       490 PANAMA RD
3   40.75890030482155  -96.70395435186813    1208 STARVIEW LN
4   40.71798914143969  -96.68330070791247     9400 LARGE'S CT

In [12]:
df.to_csv("final.csv",index=False)
for index, row in df.iterrows():
    if str(row['lat']) != 'nan':
        data = str(row['Situs']).split(',')
        size = len(data)

        if(size > 3):
            df.at[index,'city'] = data[size - 2]
            df.at[index, 'addr'] = data[0]
            df.at[index, 'zip'] = data[size-1][-(6):]
        else:
            df.at[index, 'city'] = data[size - 2]
            df.at[index, 'addr'] = data[0]
            df.at[index, 'zip'] = data[size-1][-(6):]
        response = requests.get(f"{BASE_URL}&street={df.at[index, 'addr']}&city={df.at[index, 'city']}&state=Nebraska")
        data = response.json()
        if data != [] and type(data) is list:
            df.at[index, 'lat'] = data[0].get("lat")
            df.at[index, 'lon'] = data[0].get("lon")

In [13]:
df.head()

,Situs,city,zip,lat,lon,addr
0,"3817 DUDLEY ST, LINCOLN, NE 68503",LINCOLN,68503,40.825578444444446,-96.66587981481482,3817 DUDLEY ST
1,"802 N LAKESHORE DR, LINCOLN, NE 68528",LINCOLN,68528,40.82969630114534,-96.74044722145769,802 N LAKESHORE DR
2,"490 PANAMA RD, MARTELL, NE 68404",MARTELL,68404,na,na,490 PANAMA RD
3,"1208 STARVIEW LN, LINCOLN, NE 68512",LINCOLN,68512,40.75890030482155,-96.70395435186813,1208 STARVIEW LN
4,"9400 LARGE'S CT, LINCOLN, NE 68512",LINCOLN,68512,40.71798914143969,-96.68330070791247,9400 LARGE'S CT

In [15]:
df.to_csv("LatLong.csv",index=False)